.header {
    padding: 20px;
    text-align: center;
    background: #939494;
    color: white;
    font-size: 50px;
  }
  input[type=button]:hover {
    background-color: #828582;
  }
  input[type=submit]:hover {
    background-color: #6f746f;
    
  }
  input[type=submit] {
    border-radius: 6px;
    
  }
  input[type=button] {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin-left: 80px;
    border-radius: 6px;
  }

.input{
   
    padding-left: 450px;
    margin: auto;
}

#lab{
    font-size: large;
}

#msg{
    padding-left: 435px;
    color: rgb(83, 55, 55);
}