<!-- <h1>register</h1>
<div>
    <h2>Login Customer Page</h2>
    <form #userRef="ngForm" (ngSubmit)="addCustomerComponent(userRef.value)">
        <label>Name</label>
        <input type="text" name="cust_name"  ngModel  /><br>
        <label>Address</label>
        <input type="text" name="cust_addr" ngModel  /><br>
        <label>Phone Number</label>
        <input type="number" name="cust_phone" ngModel /><br>
        <label>User Name</label>
        <input type="text" name="cust_login" ngModel /><br>
        <label>Passsword</label>
        <input type="password" name="pass" ngModel /><br>
        <input type="submit" value="Register">
        <input type="reset" value="Reset">
    </form>
    {{msg}}
</div> -->

<nav class="navbar navbar-dark bg-dark" style="background:rgb(13 8 8 / 52%) !important;">
  <div class="container-fluid">
    <a class="navbar-brand title" routerLink="customer" (click)="onClickHome()">Arogya Pharmacy</a>
  </div>
</nav>

<main class="d-flex align-items-center min-vh-100" style="background-color: #eeeeee;">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5" style="background-color: black;">
            <img src="https://www.bootstrapdash.com/demo/login-template-free-2/assets/images/login.jpg" alt="logo" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
              <!-- <img src="https://www.bootstrapdash.com/demo/login-template-free-2/assets/images/logo.svg" alt="logo" class="logo">  -->
              <h2>Arogya Pharmacy</h2>
              </div>
              <p class="login-card-description">Register with Us.</p>
              <form #userRef="ngForm" (ngSubmit)="addCustomerComponent(userRef.value)" class="needs-validation" novalidate> 
                  <div class="form-group mb-4">
                    <label for="Name" class="sr-only">Name</label>
                    <input type="text" name="cust_name" id="cust_name" class="form-control" placeholder="Name" ngModel required  oninvalid="this.setCustomValidity('Enter User Name Here')"
                    oninput="this.setCustomValidity('')"/>
                    <div class="invalid-feedback1" style="display: none;">Required</div>

                  </div>
                  <div class="form-group mb-4">
                    <label for="Address" class="sr-only">Address</label>
                    <input type="text" name="cust_addr" class="form-control" placeholder="Address"  ngModel required/>
                
                  </div>
                  <div class="form-group mb-4">
                    <label for="Phone" class="sr-only">Phone Number</label>
                    <input type="number" name="cust_phone" class="form-control" placeholder="Phone Number" ngModel required/>
                  </div>
                  <div class="form-group mb-4">
                    <label for="Username" class="sr-only">Username</label>
                    <input type="text" name="cust_login" class="form-control"  placeholder="Username"  ngModel  required/>
                    <div class="invalid-feedback2" style="display: none;">Required</div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="Password" class="sr-only">Password</label>
                    <input type="password" name="pass" class="form-control" placeholder="Password" ngModel required/>
                    <div class="invalid-feedback3" style="display: none;"> Required</div>
                  </div>
                  <div class="form-group py-3">
                  <input [disabled]="!userRef.valid" class="btn btn-block btn-info login-btn mb-4" type="submit" value="Register" >
                  </div>
                </form>
             {{msg}}
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </main>

  <footer class="text-center text-lg-start">
    <!-- Copyright -->
 <div class="text-center p-3">
   © 2021 Copyright
   <a class="text-dark" href="#">Arogya Pharmacy</a>
 </div>
 <!-- Copyright -->
 </footer>


 <script type="text/javascript">
(() => {
  'use strict';

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation');

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms).forEach((form) => {
    form.addEventListener('submit', (event) => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
})();
</script>