<h1>Supplier Month end Tally</h1>
<!-- <div>

    <h1>Supplier Month end Tally</h1>
    <input type="button" value="month end tally" (click)="loadData()">
    <div>
        <table border=1>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Quantity</th>
                <th>Amount</th>
                
            </tr>

            <tr *ngFor="let supplier of supplierInfo">
                <td>{{supplier.year}}</td>
                <td>{{supplier.month}}</td>
                <td>{{supplier.quantity}}</td>
                <td>{{supplier.amount}}</td>
                

            </tr>
        </table>
    </div>
</div> -->