<div class=container>
    <h2>Update Bill Details</h2>
    <form #billRef="ngForm" (ngSubmit)="updateBillInfo(billRef.value)">
        <label>Bill Id</label> <br>
        <input type="number" name="bill_id" ngModel/><br/>
        <label>Item Name</label><br>
        <input type="text" name="item_name" ngModel/><br/>
        <label>Amount</label><br>
        <input type="number" name="amount" ngModel/><br/>
        <label>Quantity</label><br>
        <input type="number" name="quantity" ngModel/><br/>
        <label>Customer ID</label><br>
        <input type="number" name="cust_id" ngModel/><br/>
        <br>
        <input type="submit" value="Update Bill"/>
        <input type="button" value="back" (click)="onpress()">
      
    </form>
    {{msg}}
</div>