



 
<!--
  
<div>
  <app-order-by-quantity></app-order-by-quantity>
  <app-order-by-date-sort></app-order-by-date-sort>
  
  <app-order-display></app-order-display>
  <app-order-delete></app-order-delete>
  <app-order-insert></app-order-insert>
  <app-order-update></app-order-update>
  
<app-stock-byname></app-stock-byname>
<app-stock-bynamedesc></app-stock-bynamedesc>

<app-admin-dashboard></app-admin-dashboard>
</div>



-->










 <!--
   <app-display-bill></app-display-bill> 
  
  
  
  
  
   <app-stock></app-stock>
  <app-stock-update></app-stock-update>
  <app-stock-delete></app-stock-delete>
<app-stock-insert></app-stock-insert>




  <router-outlet></router-outlet>
  <!-- <app-admin-dashboard></app-admin-dashboard>
  <app-display-supplier></app-display-supplier> -->



<div></div>
  <app-tally-supplier></app-tally-supplier>
  <!-- <app-add-supplier></app-add-supplier> -->
  <!-- <app-display-supplier></app-display-supplier> -->
  <!-- <app-bill-find-by-id></app-bill-find-by-id>
  <app-delete-bill></app-delete-bill>
  <app-update-bill></app-update-bill>
  <app-store-bill></app-store-bill> -->
   <!-- <app-display-bill></app-display-bill>  -->
   <!-- <app-stock></app-stock> -->
 
  <!--<router-outlet></router-outlet>-->

