
 
   <app-display-bill></app-display-bill> 
  
  
  
  
<!--   
   <app-stock></app-stock>
  <app-stock-update></app-stock-update>
  <app-stock-delete></app-stock-delete>
<app-stock-insert></app-stock-insert>



  <router-outlet></router-outlet>



<div>
  <app-tally-supplier></app-tally-supplier> -->
  <!-- <app-add-supplier></app-add-supplier> -->
  <!-- <app-display-supplier></app-display-supplier> -->
  <!-- <app-bill-find-by-id></app-bill-find-by-id>
  <app-delete-bill></app-delete-bill>
  <app-update-bill></app-update-bill>
  <app-store-bill></app-store-bill> -->
   <!-- <app-display-bill></app-display-bill>  -->
   <!-- <app-stock></app-stock> -->
 <!-- main -->
  <!--<router-outlet></router-outlet>-->
<!-- </div> -->

