<div>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
        <a class="navbar-brand text-white text-bold" href="#">Welcome ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
              <a class="nav-link link" routerLink="Customer"  class="text-white">Customer</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" routerLink="stocks"  class="text-white">Stock</a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" routerLink="supplier"  class="text-white" (click)="onPress()">Supplier</a>
            </li>
            
            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Bills</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressDisplay()">Display Bills</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressStore()">Store Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressUpdate()">Update Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressDelete()">Delete Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressFind()">Find Bill</a>
                </div>
              </div>
            </li>
            
          </ul>
          <input type="button" class="btn btn text-bold btn-danger text-white" value="Logout" (click)="logout()" /> 
        </div>
    </nav>

      <div name="body" id="body" style="background:linear-gradient(to right, #1e3c72, #2a5298)">

    <router-outlet></router-outlet>
</div>
    