<div>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
        <a class="navbar-brand text-white text-bold" href="#">Welcome ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Customer</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Customer"  class="text-white" (click)="onPressCustomerDisplay()">Display Customer</a>
                  <a class="dropdown-content" routerLink="Customer"  class="text-white" (click)="onPressCustomerStore()">Delete Customer</a>
                  <a class="dropdown-content" routerLink="Customer"  class="text-white" (click)="onPressCustomerId()">Customer Sort By Id</a>
                  <a class="dropdown-content" routerLink="Customer"  class="text-white" (click)="onPressCustomerName()">Customer Sort By Name</a>
                  <a class="dropdown-content" routerLink="Customer"  class="text-white" (click)="onPressCustomerAddress()">Customer Sort By Address</a>
              
                </div>
              </div>
            </li>


            

            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Stocks</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockDisplay()">Display Stocks</a>
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockStore()">Store Stock</a>
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockUpdate()">Update Stock</a>
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockDelete()">Delete Stock</a>
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockDisplayAsc()">Display Stock In Ascending</a>
                  <a class="dropdown-content" routerLink="Stocks"  class="text-white" (click)="onPressStockDisplayDsc()">Display Stock In Descending</a>
                </div>
              </div>
            </li>

            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Orders</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderDisplay()">Display Orders</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderStore()">Store Order</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderUpdate()">Update Order</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderDelete()">Delete Order</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderDisplayDsc()">Display Order In Desccending</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderDisplayDate()">Display Based on Date</a>
                  <a class="dropdown-content" routerLink="Orders"  class="text-white" (click)="onPressOrderDisplayYear()">Display Based on Year and Month</a>
                </div>
              </div>
            </li>

            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Supplier</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Supplier"  class="text-white" (click)="onPressSupplierDisplay()">Display Supplier</a>
                  <a class="dropdown-content" routerLink="Supplier"  class="text-white" (click)="onPressSupplierStore()">Stock Request</a>
                  <a class="dropdown-content" routerLink="Supplier"  class="text-white" (click)="onPressSupplierMonthEnd()">Supplier Details Sort By Delivery_Date</a>
                </div>
              </div>
            </li>
            
            <li class="nav-item mx-3">
              <div class="dropdown">
                <button class="dropbtn">Bills</button>
                <div class="dropdown-content">
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressDisplay()">Display Bills</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressStore()">Store Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressUpdate()">Update Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressDelete()">Delete Bill</a>
                  <a class="dropdown-content" routerLink="Bills"  class="text-white" (click)="onPressFind()">Find Bill</a>
                </div>
              </div>
            </li>

           
            
          </ul>
          <input type="button" class="btn btn text-bold btn-danger text-white" value="Logout" (click)="logout()" /> 
        </div>
    </nav>


<!--

<hr/>
<h2>Routing Links </h2>
  <a routerLink="stockdisplay">STOCK DISPLAY</a><br/>
  <a routerLink="stockbyname">STOCK DISPLAY ASCENDING</a><br/>
  <a routerLink="stockbynamedesc">STOCK DISPLAY DESCENDING</a><br/> 
  <a routerLink="stockdelete">STOCK DELETE</a><br/>
  <a routerLink="stockinsert">STOCK INSERT</a><br/>
  <a routerLink="stockupdate">STOCK UPDATE</a><br/>

  <a routerLink="orderupdate">ORDER UPDATE</a><br/>
  <a routerLink="orderinsert">ORDER INSERT</a><br/>
  <a routerLink="orderdisplay">ORDER DISPLAY</a><br/>
  <a routerLink="orderdelete">ORDER DELETE</a><br/>
  <a routerLink="orderdisplayquan">ORDER DISPLAY DESCENDING</a><br/>
  <a routerLink="orderdatesort">ORDER DISPLAY DATE WISE</a><br/>
  <a routerLink="orderyearmonthdisplay">SPECIFIC ORDER DISPLAY</a><br/>
  <hr/>

   -->





<!--
    <hr>

    <router-outlet></router-outlet>
-->
  </div>
    