<div>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
        <a class="navbar-brand text-white text-bold" href="#">Welcome ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
              <a class="nav-link link" routerLink="Customer"  class="text-white">Customer</a>
            
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" routerLink="stocks"  class="text-white">Stock</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" routerLink="supplier"  class="text-white" (click)="onPress()">Supplier</a>
              </li>
          </ul>
          <input type="button" class="btn btn text-bold btn-danger text-white" value="Logout" (click)="logout()" />
    
         
        </div>
      </nav>

      <div name="body" id="body" style="background:linear-gradient(to right, #1e3c72, #2a5298)">

        
        
          <button (click)="onPress()"></button>
      
      
      <div id="comp-render" *ngIf="display">
          <app-display-supplier></app-display-supplier>
      </div>



      </div>


<!--

<hr/>
<h2>Routing Links </h2>
  <a routerLink="stockdisplay">STOCK DISPLAY</a><br/>
  <a routerLink="stockbyname">STOCK DISPLAY ASCENDING</a><br/>
  <a routerLink="stockbynamedesc">STOCK DISPLAY DESCENDING</a><br/>
  <a routerLink="stockdelete">STOCK DELETE</a><br/>
  <a routerLink="stockinsert">STOCK INSERT</a><br/>
  <a routerLink="stockupdate">STOCK UPDATE</a><br/>
  <a routerLink="orderupdate">ORDER UPDATE</a><br/>
  <a routerLink="orderinsert">ORDER INSERT</a><br/>
  <a routerLink="orderdisplay">ORDER DISPLAY</a><br/>
  <a routerLink="orderdelete">ORDER DELETE</a><br/>
  <a routerLink="orderdisplayquan">ORDER DISPLAY DESCENDING</a><br/>
  <a routerLink="orderdatesort">ORDER DISPLAY DATE WISE</a><br/>
  <a routerLink="orderyearmonthdisplay">SPECIFIC ORDER DISPLAY</a><br/>
  <hr/>

   -->





    <hr>
    <router-outlet></router-outlet>
    </div>
    