<div>
    <h1>Supplier Details</h1>
    <input type="button" value="Supplier Stock Details" (click)="loadData()">
    <div *ngIf="flag">
        <table border=1>
            <tr>
                <th>Item_Name</th>
                <th>Expiry</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Type</th>
                <th>Delivery Date</th>
            </tr>

            <tr *ngFor="let supplier of supplierInfo">
                <td>{{supplier.item_name}}</td>
                <td>{{supplier.expiry}}</td>
                <td>{{supplier.quantity}}</td>
                <td>{{supplier.price}}</td>
                <td>{{supplier.type}}</td>
                <td>{{supplier.delivery_date}}</td>

            </tr>
        </table>
    </div>
</div>