<div>
    <h2>Store Product Details</h2>
    <form [formGroup]="productInfo" (ngSubmit)="storeProductDetails()">
        <label>Stock id</label>
        <input type="number" formControlName="stock_id"/><br/>
        <label>Stock Name</label>
        <input type="text" formControlName="item_name"/><br/>
        <label >Expiry</label>
        <input type="date" formControlName="expiry"><br/>
        <label>Quantity</label>
        <input type="number" formControlName="quantity"/><br/>
        <label>Price</label>
        <input type="number" formControlName="price"/><br/>
        <label>Type</label>
        <input type="text" formControlName="type"/><br/>
        <input type="submit" value="store product info"/>
        <input type="reset" value="reset"/>
    </form>
    {{msg}}
</div>