 <h2 class=header>Store Supplier Stock Details</h2>
  <div class=container>
    <form [formGroup]="supplierInfo" (ngSubmit)="storeSupplierDetails()">
        <label>Item Name</label><br>
        <input type="text" formControlName="item_name"/><br/>
        <label>Expiry</label><br>
        <input type="date" formControlName="expiry"/><br/>
        <label>Quantity</label><br>
        <input type="number" formControlName="quantity"/><br/>
        <label>Price</label><br>
        <input type="number" formControlName="price"/><br/>
        <label>Type</label><br>
        <input type="text" formControlName="type"/><br/>
        <label>Delivery Date</label><br>
        <input type="date" formControlName="delivery_date"/><br/>
        <br>
        <input type="submit" value="Store Supplier"/>
        <input type="button" value="back" (click)="onpress()">
    </form>
    {{msg}}
</div>