<div>
    <h1>Customer Bill Details</h1>
    <div>
        <table id="bills">
            <tr>
                <th>Bill ID</th>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>Customer ID</th>
            </tr>

            <tr *ngFor="let bill of billInfo">
                <td>{{bill.bill_id}}</td>
                <td>{{bill.item_name}}</td>
                <td>{{bill.amount}}</td>
                <td>{{bill.quantity}}</td>
                <td>{{bill.cust_id}}</td>

            </tr>
        </table>
    </div>
</div>