<!-- <div class="dashboard" style="background-image: url(../assets/dashboard-banner.jpg);"></div>
<div class="container">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand title">Arogya Pharmacy</a>
    <form class="d-flex dash-tab">
      <button class="btn btn-outline-warning" (click)="loginRedirect()">Login</button>
      <button class="btn btn-outline-warning" (click)="RegisterRedirect()">Register</button>
    </form>
  </div>
</nav>
</div>

 -->

 <div style="background: url(../assets/dashboard-banner.jpg)" class="page-holder bg-cover">

  <div class="container-fluid py-2">
    <nav class="navbar navbar-dark bg-dark" style="background:transparent !important;">
  <div class="container-fluid">
    <a class="navbar-brand title">Arogya Pharmacy</a>
    <form class="d-flex dash-tab">
      <button class="btn btn-outline-light" (click)="loginRedirect()">Login</button>
      <button class="btn btn-outline-light" (click)="RegisterRedirect()">Register</button>
    </form>
  </div>
</nav>
    <header class="text-center text-white py-5">
      <h1 class="display-5 font-weight-bold mb-4">Welcome to Arogya Pharmacy</h1>
      <p class="lead mb-0">Buy Medicines at Arogya Pharmacy. 100% Authentic Medicines. Wide Range of Medicines.</p>
     
    </header>

    <footer class="text-center text-lg-start">
     <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright
    <a class="text-dark" href="#">Arogya Pharmacy</a>
  </div>
  <!-- Copyright -->
  </footer>


  </div>
</div>
