<div>
     
  <nav class="navbar navbar-dark bg-dark" style="background:rgb(13 8 8 / 52%) !important;">
    <div class="container-fluid">
      <a class="navbar-brand title" routerLink="customer" (click)="onClickHome()">Arogya Pharmacy</a>
      <form class="d-flex dash-tab">
        <button class="btn btn-outline-light" (click)="OnClickCart()">Cart</button>
        
      </form>
    </div>
  </nav>


</div>

<footer class="text-center text-lg-start">
    <!-- Copyright -->
 <div class="text-center p-3">
   © 2021 Copyright
   <a class="text-dark" href="#">Arogya Pharmacy</a>
 </div>
 <!-- Copyright -->
 </footer>
